body{
background-color: black;
  min-height: 100vh;
 flex-direction: column-reverse;
 display: flex;
}

.best-img{
  background-image: url(https://static.diffen.com/uploadz/thumb/f/f2/Wolfman-v-Dracula.jpg/300px-Wolfman-v-Dracula.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}